@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(#439A97, #CBEDD5);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
button{

  -webkit-tap-highlight-color: transparent;
}

.grid-container{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}